DS_Store
cache/
log/
.*
!.gitignore
!.mailmap

*.class
*~
\#*#
bin/
*.orig
*.rej
*.swp
*.bak
work/
*.ini
*.tgz
*.tar.gz
*.tbz
*.tar.bz2
*.txz
*.tar.xz
*.gz
*.bz2
*.lzma
*.pyo
*.pyc
*.exe
*.bin
*.elf
*.o
*.o.*
*.a
*.s
*.so
*.so.dbg
*.i
*.lst
*.patch
*.gcno

#Cross Referencer tags
tags
TAGS
GPATH
GRTAGS
GSYMS
GTAGS

#cscope
cscope.*
ncscope.*

# stgit generated dirs
patches-*

# quilt's files
patches
series

#
autoconf.h
hal/hal
include/hal
rfs/
*.iso
vector.S
kernel.asm
kernel.sym
apboot.asm
apentry
boot.log
gen-cpuid-db
#
hal/x86-64/cpuid-intel-table.c
hal/x86-64/apentry-asm.S
asm-offset.s
asm-offset.h
